@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Paleta de colores:
#52736E Hooker's Green
#C6DABF Tea Green
#FFD682 Jasmine
#F4F4F4 White Smoke
#121212 Night*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.5s, color 0.5s;
  }
  
  @media (prefers-color-scheme: light) {
    .index-body {
      background-color: #F4F4F4;
      color: #121212;
    }
    .includes-header-header {
      background-color: #52736E;
    }  
  }
  
  @media (prefers-color-scheme: dark) {
    .index-body {
      background-color: #C6DABF;
      color: #F4F4F4;
    }  
    .includes-header-header {
      background-color: #52736E;
    }  
  }

  .includes-nav-header {
    background-color: #52736E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .includes-nav-header-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5% 5% 0.5% 5%;
    gap: 20px;
  }

  /* .includes-nav-header-nav-div {
    display: flex;
  } */

  .includes-nav-header-nav-svg  {
    width: 75px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1419%) hue-rotate(153deg) brightness(118%) contrast(91%);
  }

  .includes-nav-header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .includes-nav-header-nav ul li {
      display: inline;
      font-size: 1.5rem;
      margin-left: 5vh;
  }

  .includes-nav-header-nav ul a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #F4F4F4;
      transition: width 0.3s ease;
  }

  .includes-nav-header-nav ul a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #F4F4F4;
      transition: width 0.3s ease;
  }

  .includes-nav-header-nav ul a:hover::after {
      width: 80%;
  }

  .includes-nav-header-nav ul h1 {
      margin: 0;
      font-size: 1.5rem;
  }

  .includes-header-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .includes-header-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    padding: 11vh 19% 5vh 19%;
    border-bottom: 4px solid #3d5753;
    border-top: none;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    z-index: 9;
  }

  .includes-header-header-div1 {
    flex: 1;
  }

  .includes-header-header-div1 h2 {
    margin: 0 0 2% 0;
    font-size: 5rem;
    font-weight: bold;
    width: 90%;
  }

  .includes-header-header-div1 p {
    margin: 0 0 2% 0.5%;
    font-size: 1.3rem;
    width: 70%;
  }

  .includes-header-header-div1 a {
    color: #FFD682;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5rem;
  }

  .includes-header-header-div1-svg {
    margin: 0 0 0 3%;
    width: 5%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(89%) sepia(66%) saturate(7372%) hue-rotate(303deg) brightness(106%) contrast(125%);
  }

  .includes-header-header-div2 {
    flex: 1;
  }

  .includes-header-header-div2-img {
    width: 98.5%;
    height: auto;
  }

  .index-body {
    margin: 0;
    padding: 0;
  }

  /* .index-header {
    display: flex;
  } */

  /* .index-main {
    display: flex;
  } */

  /* .index-main-article  {
    display: flex;
  } */

  .index-main-article-div1 {
    background-color: #C6DABF;
    color: #121212;
    width: 100%;
  }

  /* .index-main-article-div1 h2  {
    display: flex;
  } */

  /* .index-main-article-div1-div1 {
    display: flex;
  } */

  /* .index-main-article-div1-div1 p {
    display: flex;
  } */

  /* .index-main-article-div1-div1 a {  
    display: flex;
  } */

  .index-main-article-div1-div1-svg {
    width: 32px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  /* .index-main-article-div1-div2 {
    display: flex;
  } */

  /* .index-main-article-div1-div2 h3 {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div1 {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div1 h3 {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div1 p {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div2 {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div2 h3 {
    display: flex;
  } */

  /* .index-main-article-div1-div2-div2 p {
    display: flex;
  } */

  .index-main-article-div1-div2-img {
    width: 250px;
    height: auto;
  }

  .index-main-article-div2 {
    background-color: #F4F4F4;
    color: #121212;
    width: 100%;
  }

  /* .index-main-article-div2-div {
    display: flex;
  } */

  /* .index-main-article-div2-div h2 {
    display: flex;
  } */

  /* .index-main-article-div2-div-div1 {
    display: flex;
  } */

  /* .index-main-article-div2-div-div1 a {
    display: flex;
  } */

  .index-main-article-div2-div-div1-svg {
    width: 32px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  /* .index-main-article-div2-div-div1 h3 {
    display: flex;
  } */

  /* .index-main-article-div2-div-div1 p {
    display: flex;
  } */

  .index-main-article-div2-div-div1-img1 {
    width: 250px;
    height: auto;
  }

  .index-main-article-div2-div-div1-img2 {
    width: 250px;
    height: auto;
  }

  /* .index-main-article-div2-div-div2 {
    display: flex;
  } */

  .index-main-section1 {
    background-color: #52736E;
    color: #121212;
    width: 100%;
  }

  .index-main-section1-img {
    width: 250px;
    height: auto;
  }

  /* .index-main-section1 h2 {
    display: flex;
  } */

  /* .index-main-section1 p {
    display: flex;
  } */

  .index-main-section2 {
    background-color: #C6DABF;
    color: #121212;
    width: 100%;
  }

  /* .index-main-section2-div {
    display: flex;
  } */

  /* .index-main-section2-div h2 {
    display: flex;
  } */

  /* .index-main-section2-div-div {
    display: flex;
  } */

  /* .index-main-section2-div-div h4 {
    display: flex;
  } */

  /* .index-main-section2-div-div p {
    display: flex;
  } */

  /* .index-main-section2-div p {
    display: flex;
  } */

  .index-main-section2-img {
    width: 250px;
    height: auto;
  }

  /* .index-main-section2 a {
    display: flex;
  } */

  .index-main-section2-svg {
    width: 32px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  .index-main-section3 {
    background-color: #F4F4F4;
    color: #121212;
    width: 100%;
  }

  /* .index-main-section3 h2 {
    display: flex;
  } */

  /* .index-main-section3-img {
    display: flex;
  } */

  /* .index-main-section3 p {
    display: flex;
  } */

  .index-main-div {
    background-color: #52736E;
    color: #121212;
    width: 100%;
  }

  /* .index-main-div-div {
    display: flex;
  } */

  /* .index-main-div-div a {
    display: flex;
  } */

  .index-main-div-div-img {
    width: 250px;
    height: auto;
  }

  /* .index-main-div-div p {
    display: flex;
  } */

  .index-main-section4 {
    background-color: #C6DABF;
    color: #121212;
    width: 100%;
  }

  .index-main-section4-img {
    width: 32px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  /* .index-main-section4 p {
    display: flex;
  } */

  /* .index-main-section4 a {
    display: flex;
  } */

  .index-main-section4-svg {
    width: 32px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  /* .index-main-section4-div  {
    display: flex;
  } */

  /* .index-main-section4-div a {
    display: flex;
  } */

  /* .index-main-section4-div-img {
    display: flex;
  } */

  /* .index-main-section4-div h5 {
    display: flex;
  } */

  /* .index-main-section4-div p {
    display: flex;
  } */

  .index-main-section5 {
    background-color: #F4F4F4;
    color: #121212;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 2% 10% 2% 10%;
  }

  .index-main-section5-div {
    display: flex;
    flex-direction: column;
  }

  .index-main-section5-div h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #52736E;
    width: 40%;
    margin: 2% 0 2% 0;
  }

  .index-main-section5-div h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 2% 0 2% 0;
  }

  .index-main-section5 form input {
    display: flex;
    flex-direction: column;
  }

  /* .index-main-section5-input1 {
    display: flex;
  } */

  /* .index-main-section5-input2 {
    display: flex;
  } */

  /* .index-main-section5-input3 {
    display: flex;
  } */

  /* .index-main-section5-input3 {
    display: flex;
  } */

  .includes-footer-footer {
    background-image: url("../images/image11extrafooter.jpeg");
    background-size: cover;
    background-position: left;
    background-color: #C6DABF;
    color: #121212;
    padding: 2% 10% 2% 10%;
  }

  .includes-footer-footer-div1  {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  .includes-footer-footer-div1-div1  {
    display: flex;
    flex-direction: column;
  }

  .includes-footer-footer-div1-div1 h5 {
    font-size: 2rem;
    font-weight: 500;
    color: #52736E;
    margin: 0 0 0.5rem 0;
  }
    
  .includes-footer-footer-div1-div1 p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .includes-footer-footer-div1-div2  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
  }

  /* .includes-footer-footer-div1-div2 h2  {
    display: flex;
  } */
  
  /* .includes-footer-footer-div1-div1 a {
    display: flex;
  } */

  .includes-footer-footer-div1-div-svg  {
    display: flex;
    width: 22px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  }

  .includes-footer-footer-div2  {
    display: flex;
    justify-content: space-between;
    margin: 2% 27.5% 2% 7%;
  }

  .includes-footer-footer-div2 h2 {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    width: 25%;
    color: #52736E;
  }

  .includes-footer-footer-div2 ul  {
    list-style: none;
  }

  .includes-footer-footer-div2 li  {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .includes-footer-footer-div2 a {
    color: #121212;
    text-decoration: none;
  }

  .includes-footer-footer-ul  {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 2% 7% 2% 7%;
  }

  /* .includes-footer-footer-ul li  {
    cdisplay: flex;
  } */

  .includes-footer-footer-ul a  {
    text-decoration: none;
    color: #121212;
    line-height: 2rem;
  }

  .includes-footer-footer-p  {
    font-weight: 600;
    font-style: italic;
    margin: 2% 7% 2% 7%;
  }

  /* .includes-contact-main {
    display: flex;
  } */

  .includes-contact-main-section  {
    background-color: #F4F4F4;
  }

  /* .includes-contact-main-section-div1  {
    display: flex;
  } */

  /* .includes-contact-main-section-div1 h3  {
    display: flex;
  } */
   /* .includes-contact-main-section-div1 p  {
    display: flex;
  } */

  /* .includes-contact-main-section-div2  {
    display: flex;
  } */

  /* .includes-contact-main-section-div2 h3  {
    display: flex;
  } */

  /* .includes-contact-main-section-div2 p  {
    display: flex;
  } */