/* // Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap"; */

/* // Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api"; */

@font-face {
  font-family: "Josefin Sans";
  src: url("/assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* Paleta de colores:
#52736E Hooker's Green
#C6DABF Tea Green
#FFD682 Jasmine
#F4F4F4 White Smoke
#121212 Night*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: Josefin Sans, sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}
  
@media (prefers-color-scheme: light) {
  .index-body {
    background-color: #F4F4F4;
    color: #121212;
  }
  .includes-header-header {
    background-color: #52736E;
  }  
}
  
@media (prefers-color-scheme: dark) {
  .index-body {
    background-color: #C6DABF;
    color: #F4F4F4;
  }  
  .includes-header-header {
    background-color: #52736E;
  }  
}

.includes-nav-header {
  background-color: #52736E;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.includes-nav-header-nav {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  margin: 0.5% 5% 0.5% 5%;
}

/* .includes-nav-header-nav-div {
  display: flex;
} */

.includes-nav-header-nav-svg  {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1419%) hue-rotate(153deg) brightness(118%) contrast(91%);
  height: auto;
  width: 75px;
}
.includes-nav-header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.includes-nav-header-nav ul li {
  display: inline;
  font-size: 1.5rem;
  margin-left: 5vh;
}

.includes-nav-header-nav ul a {
  color: #F4F4F4;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: width 0.3s ease;
}

.includes-nav-header-nav ul a::after {
  background-color: #F4F4F4;
  bottom: -7px;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease;
  transform: translateX(-50%);
  width: 0;
}

.includes-nav-header-nav ul a:hover::after {
  width: 80%;
}

.includes-nav-header-nav ul h1 {
  font-size: 1.5rem;
  margin: 0;
}

.includes-header-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.includes-header-header {
  align-items: flex-start;
  border-bottom: 4px solid #3d5753;
  border-radius: 0 0 30px 30px;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
  display: flex;
  gap: 2%;
  padding: 6% 20% 3% 15%;
  z-index: 9;
}

.includes-header-header-div1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.includes-header-header-div1 h2 {
  font-size: 6rem;
  font-weight: bold;
  height: auto;
  margin: 0 0 2% 0;
  width: 90%;
}

.includes-header-header-div1 p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  height: auto;
  margin: 2% 0 2% 0;
  width: 70%;
}

.includes-header-header-div1 a {
  color: #FFD682;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2% 0 0 0;
  text-decoration: none;
}

.includes-header-header-div1-svg {
  margin: 0 0 0 3%;
  filter: brightness(0) saturate(100%) invert(89%) sepia(66%) saturate(7372%) hue-rotate(303deg) brightness(106%) contrast(125%);
  height: auto;
  width: 5.5%;
}

.includes-header-header-div2 {
  flex: 1;
}

.includes-header-header-div2-img {
  height: auto;
  width: 120%;
}

.index-body {
  margin: 0;
  padding: 0;
}

/* .index-header {
  display: flex;
} */

/* .index-main {
  display: flex;
} */

/* .index-main-article  {
  display: flex;
} */

.index-main-article-div1 {
  background-color: #C6DABF;
  box-sizing: border-box;
  color: #121212;
  /* display: flex; */
  height: auto;
  padding: 5% 15% 5% 15%;
  width: 100%;
}

.index-main-article-div1 h2  {
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  height: auto;
  width: 45%;
}

.index-main-article-div1-div1 {
  display: flex;
  flex-direction: column;
}

.index-main-article-div1-div1 p {
  font-size: 1.2rem;
  font-weight: 500;
  height: auto;
  width: 50%;
}

.index-main-article-div1-div1 a {  
  color: #52736E;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.index-main-article-div1-div1-svg {
  filter: brightness(0) saturate(100%) invert(39%) sepia(24%) saturate(373%) hue-rotate(121deg) brightness(103%) contrast(93%);
  height: auto;
  width: 16px;
}

/* .index-main-article-div1-div2 {
  display: flex;
} */

.index-main-article-div1-div2 h3 {
  color: #52736E;
  font-size: 3rem;
  font-weight: bold;
}

.index-main-article-div1-div2-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.index-main-article-div1-div2-div1 h3 {
  color: #52736E;
  font-size: 2.5rem;
  font-weight: bold;
}

.index-main-article-div1-div2-div1 p {
  color: #121212;
  font-size: 2rem;
  font-weight: 500;
}

.index-main-article-div1-div2-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.index-main-article-div1-div2-div2 h3 {
  color: #52736E;
  font-size: 2.5rem;
  font-weight: bold;
}

.index-main-article-div1-div2-div2 p {
  color: #121212;
  font-size: 2rem;
  font-weight: 500;
}

.index-main-article-div1-div2-img {
  border-radius: 50%;
  height: auto;
  width: 40%;
}

.index-main-article-div2 {
  background-color: #F4F4F4;
  box-sizing: border-box;
  color: #121212;
  height: auto;
  padding: 5% 15% 5% 15%;
  width: 100%;
}

.index-main-article-div2 h2 {
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  height: auto;
  margin: 0% 0% 5% 0%;
  width: 62%;
}

.index-main-article-div2-div {
  display: flex;
  flex-direction: row;
  margin: 2% 0% 0% 0%;
}

.index-main-article-div2-div-div {
  background-color: #FFFFFF;
  border: 0px solid #121212;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: auto;
  margin: 0% 2% 0% 2%;
  padding: 2% 2% 2% 2%;
}

.index-main-article-div2-div-div-div1 {
  display: flex;
  flex-direction: column;
}

/* .index-main-article-div2-div-div-div1 a {
  display: flex;
} */

.index-main-article-div2-div-div-div1-svg {
  display: flex;
  filter: brightness(0) saturate(100%) invert(42%) sepia(26%) saturate(349%) hue-rotate(121deg) brightness(94%) contrast(93%);
  height: auto;
  width: 32px;
}

.index-main-article-div2-div-div-div1 h3 {
  color: #52736E;
  font-size: 3rem;
}

.index-main-article-div2-div-div-div1 p {
  font-size: 1rem;
}

.index-main-article-div2-div-div-div2 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.index-main-article-div2-div-div-div2-img1 {
  border-radius: 25px 25px 25px 25px;
  height: auto;
  width: 20%;
}

.index-main-article-div2-div-div-div2-img2 {
  border-radius: 25px 25px 25px 25px;
  height: auto;
  width: 6.4%;
}

.index-main-section1 {
  background-color: #52736E;
  box-sizing: border-box;
  color: #121212;
  display: flex;
  position: relative;
  width: 100%;
}

.index-main-section1-img {
  display: flex;
  height: auto;
  justify-content: flex-start;
  left: 0;
  position: relative;
  top: 0;
  width: 30%;
}

.index-main-section1-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.index-main-section1 h2 {
  color: #F4F4F4;
  font-size: 4rem;
  font-weight: bold;
  margin: 2% 5% 2% 15%;
  width: 48%;
}

.index-main-section1 p {
  font-size: 1.5rem;
  margin: 2% 5% 2% 15%;
  width: 45%;
}

.index-main-section2 {
  background-color: #C6DABF;
  box-sizing: border-box;
  color: #121212;
  width: 100%;
}

.index-main-section2-div {
  padding: 5% 15% 5% 15%;
}

.index-main-section2-div h2 {
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  width: 43%;
}

/* .index-main-section2-div-div {
  display: flex;
} */

/* .index-main-section2-div-div h4 {
  display: flex;
} */

/* .index-main-section2-div-div p {
  display: flex;
} */

/* .index-main-section2-div p {
  display: flex;
} */

.index-main-section2-img {
  border-radius: 50%;
  height: auto;
  width: 20%;
}

/* .index-main-section2 a {
  display: flex;
} */

.index-main-section2-svg {
  filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  height: auto;
  width: 32px;
}

.index-main-section3 {
  background-color: #F4F4F4;
  box-sizing: border-box;
  color: #121212;
  padding: 5% 15% 5% 15%;
  width: 100%;
}

.index-main-section3 h2 {
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  width: 43%;
}

/* .index-main-section3-img {
  display: flex;
} */

/* .index-main-section3 p {
  display: flex;
} */

.index-main-div {
  background-color: #52736E;
  border: 0px solid #121212;
  border-radius: 150px 150px 150px 150px;
  box-sizing: border-box;
  color: #121212;
  display: flex;
  float: none;
  justify-content: center;
  left: 20%;
  padding: 2% 0% 2% 0%;
  position: relative;
  width: 60%;
}

.index-main-div-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .index-main-div-div a {
  display: flex;
} */

.index-main-div-div-img {
  border-radius: 50%;
  height: auto;
  width: 200px
}

.index-main-div-div p {
  color: #F4F4F4;
  font-size: 1.5rem;
  margin: 0 0 0 4%;
  width: 35%;
}

.index-main-section4 {
  background-color: #C6DABF;
  box-sizing: border-box;
  color: #121212;
  padding: 5% 25% 5% 25%;
  width: 100%;
}

/* .index-main-section4 a {
  display: flex;
} */

.index-main-section4-svg {
  filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  height: auto;
  width: 32px;
}
.index-main-section4-img {
  filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  height: auto;
  width: 32px;
}

.index-main-section4 p {
  font-size: 3rem;
  font-weight: bold;
  height: auto;
  width: 75%;
}

/* .index-main-section4-div  {
  display: flex;
} */

/* .index-main-section4-div a {
  display: flex;
} */

.index-main-section4-div-img {
  border-radius: 25px 25px 25px 25px;
  height: auto;
  width: 15%;
}

.index-main-section4-div h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.index-main-section4-div p {
  font-size: 1rem;
  font-weight: normal;
}

.index-main-section5 {
  background-color: #F4F4F4;
  box-sizing: border-box;
  color: #121212;
  display: flex;
  height: auto;
  justify-content: space-around;
  padding: 2% 30% 2% 30%;
  width: 100%;
}

.index-main-section5-div {
  display: flex;
  flex-direction: column;
}

.index-main-section5-div h2 {
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  height: auto;
  margin: 2% 0 2% 0;
  width: 70%;
}

.index-main-section5-div h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2% 0 2% 0;
}

.index-main-section5 form input {
  display: flex;
  flex-direction: column;
}

/* .index-main-section5-input1 {
  display: flex;
} */

/* .index-main-section5-input2 {
  display: flex;
} */

/* .index-main-section5-input3 {
  display: flex;
} */

/* .index-main-section5-input3 {
  display: flex;
} */

.includes-footer-footer {
  background-color: #C6DABF;
  background-image: url("/assets/images/image11extrafooter.jpeg");
  background-position: left;
  background-size: cover;
  color: #121212;
  padding: 2% 10% 2% 10%;
}

.includes-footer-footer-div1  {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.includes-footer-footer-div1-div1  {
  display: flex;
  flex-direction: column;
}

.includes-footer-footer-div1-div1 h5 {
  color: #52736E;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
    
.includes-footer-footer-div1-div1 p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.includes-footer-footer-div1-div2  {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

/* .includes-footer-footer-div1-div2 h2  {
  display: flex;
} */
  
/* .includes-footer-footer-div1-div1 a {
  display: flex;
} */

.includes-footer-footer-div1-div-svg  {
  display: flex;
  filter: brightness(0) saturate(100%) invert(2%) sepia(8%) saturate(19%) hue-rotate(314deg) brightness(91%) contrast(89%);
  height: auto;
  width: 22px;
}

.includes-footer-footer-div2  {
  display: flex;
  justify-content: space-between;
  margin: 2% 27.5% 2% 7%;
}

.includes-footer-footer-div2 h2 {
  display: flex;
  color: #52736E;
  font-size: 4rem;
  font-weight: bold;
  height: auto;
  width: 25%;
}

.includes-footer-footer-div2 ul  {
  list-style: none;
}

.includes-footer-footer-div2 li  {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 2rem;
}

.includes-footer-footer-div2 a {
  color: #121212;
  text-decoration: none;
}

.includes-footer-footer-ul  {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 2% 7% 2% 7%;
  text-decoration: none;
}

/* .includes-footer-footer-ul li  {
  cdisplay: flex;
} */

.includes-footer-footer-ul a  {
  color: #121212;
  line-height: 2rem;
  text-decoration: none;
}

.includes-footer-footer-p  {
  font-style: italic;
  font-weight: 600;
  margin: 2% 7% 2% 7%;
}

.includes-contact-main {
  background-color: #F4F4F4;
  box-sizing: border-box;
}

.includes-contact-main-section  {
  padding: 8% 25% 5% 25%;
}

.includes-contact-main-section-div1  {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.includes-contact-main-section-div1 h3  {
  color: #52736E;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0% 0% 2% 0%;
}

.includes-contact-main-section-div1 p  {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0% 0% 7% 0%;
}

/* .includes-contact-main-section-div2  {
  display: flex;
} */

.includes-contact-main-section-div2 h3  {
  color: #52736E;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0% 0% 2% 0%;
}

.includes-contact-main-section-div2 p  {
  font-size: 1.5rem;
  line-height: 2.5rem;
}