@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Paleta de colores:
#52736E Verde
#FFD682 Amarillo
#F4F4F4 Blanco
#121212 Negro*/

body {
    font-family: Josefin Sans, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
  }
  
  @media (prefers-color-scheme: light) {
    body {
      background-color: #F4F4F4;
      color: #121212;
    }
    header {
      background-color: #52736E;
    }  
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: #F4F4F4;
    }  
    header {
      background-color: #52736E;
    }  
  }

  .includes-nav-header {
    background-color: #52736E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .includes-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 5% 0.5% 5%;
  }

  /* .includes-nav-div {
    display: flex;
  } */

  .includes-nav-logo  {
    width: 75px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1419%) hue-rotate(153deg) brightness(118%) contrast(91%);
  }

  .includes-nav-list  {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .includes-nav-list h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .includes-nav-list li {
    font-size: 1.5rem;
    margin-left: 5vh;
  }

  .includes-nav-list a  {
    color: #F4F4F4;
    text-decoration: none;
  }

  .includes-header-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .includes-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    padding: 11vh 19% 5vh 19%;
    border-bottom: 3px solid #3d5753;
    border-top: none;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    z-index: 9;
  }

  .includes-header-div-1 {
    flex: 1;
  }

  .includes-header-title {
    margin: 0 0 2% 0;
    font-size: 5rem;
    font-weight: 900;
    width: 90%;
  }

  .includes-header-text-1 {
    margin: 0 0 2% 0.5%;
    font-size: 1.3rem;
    width: 70%;
  }

  .includes-header-text-button {
    color: #FFD682;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5rem;
  }

  .includes-header-a-img {
    margin: 0 0 0 0.5%;
    width: 4%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(89%) sepia(66%) saturate(7372%) hue-rotate(303deg) brightness(106%) contrast(125%);
  }

  .includes-header-div-2 {
    flex: 1;
  }

  .includes-header-img {
    width: 98.5%;
    height: auto;
  }

  .index-body {
    margin: 0;
    padding: 0;
  }

  /* .index-article {
    display: flex;
  } */

  .index-first-section  {
    display: flex;
    justify-content: space-between;
  }

  /* .index-first-section-title  {
    display: flex;
  } */

  /* .index-first-section-text {
    display: flex;
  } */

  .index-first-section-button {
    width: 5%;
    height: auto;
  }

  /* .index-second-section {
    display: flex;
  } */

  /* .index-second-section-title {
    display: flex;
  } */

  /* .index-second-section-div-1 {
    display: flex;
  } */

  /* .index-second-section-text-1 {
    display: flex;
  } */

  /* .index-second-section-test-2 {
    display: flex;
  } */

  /* .index-second-section-div-2 {
    display: flex;
  } */

  .index-second-section-img {
    width: 30%;
    height: auto;
  }

  /* .index-third-section {
    display: flex;
  } */

  /* .index-third-section-title {
    display: flex;
  } */

  /* .index-third-section-div {
    display: flex;
  } */

  .index-third-section-button {
    width: 5%;
    height: auto;
  }

  /* .index-third-section-subtitle {
    display: flex;
  } */

  /* .index-third-section-text {
    display: flex;
  } */

  .index-third-section-img-1 {
    width: 30%;
    height: auto;
  }

  .index-third-section-img-2 {
    width: 30%;
    height: auto;
  }

  /* .index-fourth-section {
    display: flex;
  } */

  .index-fourth-section-img {
    width: 30%;
    height: auto;
  }

  /* .index-fourth-section-title {
    display: flex;
  } */

  /* .index-fourth-section-text {
    display: flex;
  } */

  /* .index-fifth-section {
    display: flex;
  } */

  /* .index-fifth-section-div {
    display: flex;
  } */

  /* .index-fifth-section-title {
    display: flex;
  } */

  /* .index-fifth-section-subdiv {
    display: flex;
  } */

  /* .index-fifth-section-title-subtitle {
    display: flex;
  } */

  /* .index-fifth-section-text-1 {
    display: flex;
  } */

  /* .index-fifth-section-text-2 {
    display: flex;
  } */

  .index-fifth-section-img {
    width: 30%;
    height: auto;
  }

  .index-fifth-section-button {
    width: 5%;
    height: auto;
  }

  .index-sixth-section-img {
    width: 30%;
    height: auto;
  }

  /* .index-sixth-section {
    display: flex;
  } */

  /* .index-sixth-section-title {
    display: flex;
  } */

  /* .index-sixth-section-img {
    display: flex;
  } */

  /* .index-sixth-section-text {
    display: flex;
  } */

  /* .index-sixth-article-div-content {
    display: flex;
  } */

  /* .index-sixth-article-div {
    display: flex;
  } */

  .index-sixth-article-div-img {
    width: 30%;
    height: auto;
  }

  .index-sixth-article-div-button {
    width: 5%;
    height: auto;
  }

  /* .index-seventh-section {
    display: flex;
  } */

  .index-seventh-section-img {
    width: 30%;
    height: auto;
  }

  /* .index-seventh-section-title {
    display: flex;
  } */

  .index-seventh-section-button {
    width: 5%;
    height: auto;
  }

  /* .index-seventh-section-div {
    display: flex;
  } */

  .index-seventh-section-div-img {
    width: 30%;
    height: auto;
  }

  /* .index-seventh-section-div-title {
    display: flex;
  } */

  /* .index-seventh-section-div-text {
    display: flex;
  } */

  /* .index-eighth-section {
    display: flex;
  } */

  /* .index-eighth-section-title {
    display: flex;
  } */

  /* .index-eighth-section-text {
    display: flex;
  } */

  /* .index-eighth-section-form {
    display: flex;
  } */

  /* .index-eighth-section-input-1 {
    display: flex;
  } */

  /* .index-eighth-section-input-2 {
    display: flex;
  } */

  /* .index-eighth-section-input-3 {
    display: flex;
  } */

  /* .index-eighth-section-button {
    display: flex;
  } */